<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression" verbose="1" >
    <test name="Regression">
        <classes>
            <class name="com.slaviusProdacshin.qa.tests.RegistrationTest"/>
            <class name="com.slaviusProdacshin.qa.tests.LoginTest"/>
            <class name="com.slaviusProdacshin.qa.tests.carCreationTest"/>
            <class name="com.slaviusProdacshin.qa.tests.LogoutTest"/>
        </classes>
    </test>
</suite>